body {

background-color : #606c88; /* fallback for old browsers */
background-color: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
background-color: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}

.top {
	height: 100px;
	background-color: #ffffff;
	margin-top: 10px;
}

.logo {
	width: 23%;
}

.navbar-right {
	float: right;
	margin-left: 525px;
	margin-top: 23px;
}

.MyTab {
	width: 33%;
}